/* ___________MAIN___________ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    /* background-image: linear-gradient(to right, #332e70, #435164ef, #332e70); */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: black;
    
}
/* @keyframes move-background {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% 100%;
    }
} */

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url("https://img.freepik.com/premium-vector/space-background-with-stars-vector-illustration_97886-319.jpg"); */
}

canvas {
    position: absolute;
    z-index: -1;

}

/* _________Hidden scrollbar_________ */

body {
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;  
    /* Firefox */
    scrollbar-width: none;  
}
body::-webkit-scrollbar { 
    /* Safari and Chrome */
    display: none;  
}
/* ___________NAVBAR___________ */

.navbar {
    position: fixed;
    width: 100%;
    top: 0%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navOpacity {
    background-color: #333;
    transition: 1s ease;
    background-color: #212529ec;
}

.brand-title a {
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
    margin: 0px;
    padding: 8px 16px;
    letter-spacing: .15em;
}

.brand-title a:hover {
    border-bottom: #219ebc 1px solid;
    transition: .3s ease-in;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a:hover {
    color: white;
    border-bottom: #ffb703 1px solid;
    transition: .3s ease-in;
}

.navbar-links li a {
    text-decoration: none;
    color: #dee2e6;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: .75em;
    right: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ___________HEADER___________ */

#main section {
    display: flex;
    justify-content: center;
    padding: 5em;
}
#header {
    padding: 7em 5em 4em 5em;
}

#header p {
    padding-top: 75px;
    font-size: 1.1em;
    margin-top: 0em;
    margin-bottom: 1em;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #cfcbcb;
}

#header h1 {
    font-size: 3em;
    margin: 0 0 0.25em 0;
    font-weight: 400;
    letter-spacing: .075em;
    color: #ffffff;
    position: absolute;
    display: block;
}

#title {
    display: flex;
    justify-content: center;
    position: relative;
}

/*__________Title Animation __________*/

#name-title::before, #name-title::after {
    content: '';
    padding: 25px;
    transform: translateX(50%) translateY(0%) rotate(0);
    display: block;
    width: 35px;
    border: 4px #6ea06d solid;
    animation: spin 6s alternate infinite ease-in-out;
    position: absolute;
    right: 90.5%;
    bottom: 0%;
    top: 0%;
    box-sizing: content-box;
}

@keyframes spin {
    100% {
        transform: translateX(50%) translateY(0%) rotate(360deg);
    }
}

/*___________ MASCOT ___________*/

.mascot-container {
    padding-left: 15%;
    position: absolute;
    top: 23.25%;
}

.mascot-container img {
    max-width: 15%;
    max-height: 15%;
}

#eyes img {
    position: absolute;
    max-width: 12%;
    max-height: 12%;
}

/*___________Wrapper , H2 Header___________ */

#main section h2 {
    color: white;
    letter-spacing: .5em;
    font-size: 1.5em;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 15px;
}

#main section {
    margin-right: 10em;
    margin-left: 10em;
    background-image: linear-gradient(to right, #474747b3, rgb(55, 67, 85), #474747b3);
    display: block;
    border-radius: 10px;
    border-bottom: 1px  #424242 solid;
}

/*___________ CONTENT CARD ___________*/

.content {
    display: flex;
    background-color: rgba(255, 255, 255, 0.10);
    height: 100%;
    padding: 3em;
    margin: 1em 1em 3em 1em;
    color: rgb(255, 255, 255);
    border: 1px rgba(255, 255, 255, 0.5) solid;
    border-radius: 6px;
    box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
    block-size: fit-content;
    justify-content: space-evenly;
}

/* ___________PROJECTS ___________*/

#projects .content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#projects .project-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    padding: 1em 1em;
}

#projects .project-title {
    margin: 0em 0em 1em 0em;
}

#projects .project-text {
    text-align: start;
}

#projects .tech-and-button a {
    text-decoration: none;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px solid #219ebc;
    background: none;
    text-decoration: none;
    font-weight: bold;
}
#projects .tech-and-button a:hover{
    color: black;
    background-color: #ffb703;
    transition: .2s all ease;
}
#demo-button {
    margin-top: 2em;
}

.img-wrapper {
    margin: auto;
    padding: 1em;
}
.img-wrapper img {
    width: 100%;
}

/* ___________ABOUT ME___________ */

.content-container {
    display: flex;
    flex-direction: column;
}

.about-paragraph {
    color: #e2dfdf;
    margin: 1em 1em;
    text-align: start;
    letter-spacing: .15em;
    font-size: 1em;
    display: flex;
    align-items: center;
    display: block;
}

.resume-button {
    background: none;
    color: #7ef1c5;
    border: 1px solid #c4c4c4;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 10px;
    font-family: Montserrat;
    margin: 1em .5em;
    width: 35%;
}

.resume-button a {
    box-sizing: content-box;
}
.resume-button:hover {
    border-color: #7ef1c5;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #7ef1c5;
    transform: translateY(-5px);
    transition: .25s;
    cursor: pointer;
}

.spotlight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
}

.skills-item-container {
    display: flex;
    justify-content: space-between;
}

.skills-column {
    padding: .25em;
    margin: 0 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-item {
    background: #1a1a1a96;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Montserrat;
    margin: 1em;
    padding: .5em;
}

.skills-item img {
    transform: scale(.8);
    width: 50px;
    height: 50px;
}

/* ___________CONTACT___________ */

#contact .content a {
    text-decoration: none;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px solid #219ebc;
    background: none;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

#contact .content a:hover {
    color: black;
    background-color: #219ebc;
    transition: .2s all ease;
}

#contact .emailButton {
    text-decoration: none;
    color: white;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px solid #f5c64f;
    background: none;
    text-decoration: none;
    font-weight: bold;
}

#contact .emailButton:hover {
    color: rgb(0, 0, 0);
    background-color: #f5c64f;
    transition: .2s all ease;
    cursor: pointer;
}

/* ___________FOOTER___________ */

/* ____________ RESPONSIVE ____________ */
@media (max-width: 400px) {
    .content {
        padding: 5%;
    }
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title a  {
        display: block;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5em 1em;
    }

    .navbar-links.active {
        display: flex;
    }
    
    #main section {
        padding: 10px;
    }

    #header p {
        padding-top: 150px;
    }

    .mascot-container {
        padding-left: 20%;
        top: 31.75%;
        margin-top: 1px;
    }
}

@media (max-width: 800px) {
    #main section {
        margin: 0;
    }
}

@media (max-width: 900px) {
    #main section {
        max-width: 100%;
        font-size: 90%;
        box-sizing: border-box;
    }
}

@media (max-width: 1100px) {
    #main section {
        max-width: 100%;
    }

    #main .content {
        display: flex;
        flex-direction: column;
    }
    
    #about .content {
        display: flex;
        flex-direction: row;
    }
    .resume-button {
        width: 55%;
    }
}

@media (max-width: 1500px) {
    #main {
        font-size: 90%;
    }
}

